<div class="resources">
    <h4>HPDE</h4>
    <p>Track day resources</p>
    <ul>
        <li><a href="http://scda1.com/">Sports Car Drivers Association</a></li>
        <li><a href="http://automobileassociates.com/">Automobile Associates of Canton</a></li>
        <li><a href="https://store.excelerateperformance.com/">XLR8 Performance</a></li>
        
    </ul>
</div>

